html {
    font-family: Helvetica;
    display: inline-block;
    margin: 0px auto;
    text-align: center;
    background-color: #e5fefd;
  }
h1{
  color: #0F3376;
  padding: 2vh;
}
p{
  font-size: 1.5rem;
}

#shifterForm td:has(label) {
  text-align: right;
}

.updatedMessage {
  display: none;
}

.gearPositionTitle{
  text-align: left;
  font-weight: bold;
  font-size: 14pt;
}

#gearboxPosition {

}
#gearboxPosition td {
  font-size: 20pt;
  font-weight: bold;
  width: 40px;
}

.gbSelected {
  border-radius: 10px;
  border: rgb(47, 255, 54) solid 5px;
}

/* 3D buttons https://www.joshwcomeau.com/animation/3d-button/ */
.pushable {
  margin-left: 15px;
  background: hsl(340deg 100% 32%);
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  touch-action: none;
  user-select: none;
  -webkit-user-select: none;
}
.front {
  display: block;
  padding: 12px 42px;
  border-radius: 12px;
  font-size: 1.25rem;
  background: hsl(345deg 100% 47%);
  color: white;
  transform: translateY(-6px);
  touch-action: none;
  user-select: none;
  -webkit-user-select: none;
}

.pushable:active .front {
  transform: translateY(-2px);
  background: hsl(340deg 100% 32%);
}

#linkSetDefaults {
  float: left;
  margin-top: 30px;
  margin-left: 30px;
}
.updatedMessage p {
  position: absolute;
  top:50px;
  width: 90%;
  align-self: center;
  background-color: yellow;
  font-weight: bold;
  border: #000 solid;
}

.defaultsMessage {
  display: none;
}
.defaultsMessage p {
  position: absolute;
  top:50px;
  width: 90%;
  align-self: center;
  background-color: yellow;
  font-weight: bold;
  border: #000 solid;
}

/* Spinner from https://projects.lukehaas.me/css-loaders/ */

.spinnerDisplay {
  display: inline !important;
  position: relative;
  left: -50px;
  top: -100px;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}
.loader {
  display:none;
  color: #ffffff;
  font-size: 11px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before,
.loader:after {
  position: absolute;
  content: '';
}
.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: #0dc5c1;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.1em 5.1em;
  transform-origin: 5.1em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: #0dc5c1;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 4.9em;
  -webkit-transform-origin: 0.1em 5.1em;
  transform-origin: 0.1em 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}
@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
